<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
        <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
       <!-- <ion-view view-title="Google Maps V3 example">
            <ion-content data-tap-disabled="true">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
            </ion-content>
        </ion-view>--> 
    </ion-list>
  </ion-content>
</ion-view>
