<ion-view view-calm view-title="Account">
  <ion-content>
      <div class="list card">
          <a class="item item-divider item-positive"> Profil</a>
          <a class="item item-thumbnail-left" href="#">

              <img src="../img/ionic.png">
              <h2>NOM PRENOM CONDUCTEUR</h2>
              <p> PERMIS</p>
              <p>MAIL</p>
          </a>
          <a class="item item-divider item-positive">
              Informations
          </a>
          <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location"></i>
              Current Location
          </a>

          <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-telephone"></i>
              Phone Number
          </a>
          <a class="item item-divider item-positive">
              Statistiques
          </a>
          <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-timer"></i>
              Heure travaille et Temps conduit
          </a>

          <a href="#" class="item item-icon-left">
              <i class="icon ion-android-checkmark-circle"></i>
              Nombre de livraison faite
          </a>
      </div>
      <button class="button button-block  button-positive">Modify Profil</button>

</ion-content>
</ion-view>
