﻿<ion-view view-calm view-title="Map">
    <ion-content>
        <h1>Itinary</h1>
        <!-- map directive-->
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>

        <app-map style="height:400px;margin:12px;box-shadow:0 3px 25px black;"
                    center="basel"
                    zoom="15"
                    markers="whoiswhere">
        </app-map>
        <ion-item ng-controller="GeoCtrl">
            <button ng-click="ChangeOneDriverPos()">Faire avancer un camion 1 fois</button>
            <button ng-click="ChangeAllDriverPos()">Faire avancer plusieur camions plusieurs fois</button>
        </ion-item>
    </ion-content>
</ion-view>
