<ion-view view-title="Missions List">
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-left" ng-repeat="playlist in playlists" href="#/app/missionDetails/{{playlist.id}}">
              <i class="icon ion-cube"></i>
              Mission type: {{playlist.id}}
              <p>Delay: {{ playlist.heureD - playlist.heureA }} heure(s)</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
