<ion-view view-title=" Mission : {{playlist.id}}">
  <ion-content>
      <div class="list">
        <ion-item class="item item-calm item-divider">
          Site du transport
        </ion-item>
          <a class="item">
            <i class="icon ion-location"></i>
            Site de départ : {{playlist.siteD}}
          </a>
          <a class="item">
            <i class="icon ion-location"></i>
            Site d'arrivé : {{playlist.siteA}}
          </a>
        <ion-item class="item item-calm item-divider">
          Heure de livraison
        </ion-item>
          <a class="item">
            <i class="icon ion-clock"></i>
            Heure de départ : {{playlist.heureD}} heure
          </a>
          <a class="item">
            <i class="icon ion-clock"></i>
            Heure d'arrivé : {{playlist.heureF}} heure
          </a>
          <!-- <a class="item item-calm item-divider">
              Delivery informations
          </a>
          <a class="item item-icon-left">
                  <i class="icon ion-cube"></i>
                  Mission Full Name {{playlist[Id].title}}
              <span class="item-note">
                  Size and weight
              </span>
                  <p>-Type</p>
          </a>

          <a class="item item-icon-left" href="#">
              <i class="icon ion-pricetags"></i>
              Delivery Commande Number
          </a>
          <a class="item item-calm item-divider">
              More informations
          </a>

          <a class="item item-icon-left" href="#">
              <i class="icon ion-email"></i>
              <h2>Delivery Destination</h2>
              <p>-112 Rue des juliens</p>
              <p>33200 BORDEAUX</p>
          </a>

          <a class="item item-icon-left" href="#">
              <i class="icon ion-calendar"></i>
              Delay
              <span class="item-note">{{Id}} Jour </span>
          </a>
          <a class="item item-calm item-divider"></a>
          <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-android-chat"></i>
              Call the delivery recever
              <i class="icon ion-ios-telephone"></i>
          </a>

          <a class="item item-calm item-divider">
              Acceptance
          </a>
          <div class="button-bar" ng-controller="ChooseRep">
              <a class="button" ng-class="{'button-balanced': isActive('Accepte')}" ng-click="setActive('Accepte')">Accepte</a>
              <a class="button" ng-class="{'button-energized': isActive('Later')}" ng-click="setActive('Later')">Later</a>
              <a class="button" ng-class="{'button-assertive': isActive('Decline')}" ng-click="setActive('Decline')">Decline</a>
          </div>
          <a class="item item-calm item-divider">
              Way to go
          </a>
          <div class="item item-button-right">
              Itineraire
          </div>
      </div>-->
</ion-content>
</ion-view>
