/* Empty. Add your own CSS if you like */
#map {
  width: 100%;
  height: 100%;
  background-color: #fff !important;
}

.scroll {
  height: 100%;
}

.map-container {
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}