﻿<ion-view view-calm view-title="Driver list">
    <ion-content>
        <ion-list>
            <ion-item>
                <ion-button ng-click="refresh()" class="button button-positive">Refresh</ion-button>
            </ion-item>
            <ion-item class="item" ng-repeat="driver in drivers" href="#/app/driver/{{driver.id}}">
                Driver : {{driver.id}} - {{driver.nom}} {{driver.prenom}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
